US-POC/ADF/HumanTaskUI/PurchaseOrderApplication/POC_US_BPM/SOA/Schemas/Bussinessrule.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.Bussinessrule.org"
            targetNamespace="http://www.Bussinessrule.org" elementFormDefault="qualified">
  <xsd:element name="output" type="Flag">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Flag">
    <xsd:sequence>
      <xsd:element name="exec" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
